html{
  background: url("resource/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}
body{
	background:rgba(242,242,242,0.5);
}
.hideOverFlow{
	overflow:hidden;
}
a{
	color: inherit; /* blue colors for links too */
  	text-decoration: inherit; /* no underline */
}

.headerContent{
	padding:15px;
	margin-top: 40px;
	background-color: #009BFF; 
	color:	#ffffff;
	box-shadow: 10px 10px 2px grey;
}
.aboutContent{
	-moz-border-radius:25px;  /* for Firefox */
	-webkit-border-radius:25px; /* for Webkit-Browsers */
	border-radius:25px; /* regular */
	background-color: #009BFF; 
	background:rgba(0,82,136,0.7);
	padding: 15px;
	color:	#ffffff;
}

.exampleContent{
	background-color: #009BFF; 
	background:rgba(233,119,0,0.7);
	padding: 15px;
	color:	#ffffff;
}
.formContent{
	color:#fffff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:80%;
    background:rgba(0,155,255,0.9);
    -moz-border-radius:25px;  /* for Firefox */
	-webkit-border-radius:25px; /* for Webkit-Browsers */
	border-radius:25px; /* regular */
}
.roomContent{
	
	background-color: #009BFF; 
	background:rgba(0,82,136,0.7);
	padding: 15px;
	color:	#ffffff;
}
.logo {
	color: #ffa12a;
    font-size: 140px;
}
.jumbotron{
	background-color: #0099ff; 
	color: #ffffff;
	margin-bottom: 0;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffa12a;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

 .container-fluid {
      padding: 50px 40px;
      margin-bottom: 0;
  }
 .smallFont {
	 font-size:.7em;
 }
 .bgfont {
	 font-weight: bolder;
 }
h4.italic{
	padding-top:0;
	margin-top:0;
	font-style: italic;
 }

   

