<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    version="2.5">
    
    <servlet>
        <servlet-name>Building</servlet-name>
        <servlet-class>com.brba.servlets.BuildingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Building</servlet-name>
        <url-pattern>/BuildingServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>BuildingEdit</servlet-name>
        <servlet-class>com.brba.servlets.BuildingEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BuildingEdit</servlet-name>
        <url-pattern>/BuildingEditServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Room</servlet-name>
        <servlet-class>com.brba.servlets.RoomServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Room</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>RoomEdit</servlet-name>
		<servlet-class>com.brba.servlets.RoomEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
        <servlet-name>RoomEdit</servlet-name>
        <url-pattern>/RoomEditServlet</url-pattern>
    </servlet-mapping>

 	<servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.brba.servlets.LoginServletAdmin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/LoginServletAdmin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminEdit</servlet-name>
        <servlet-class>com.brba.servlets.AdminEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminEdit</servlet-name>
        <url-pattern>/AdminEditServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>PasswordUpdate</servlet-name>
        <servlet-class>com.brba.servlets.PasswordUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PasswordUpdate</servlet-name>
        <url-pattern>/PasswordUpdateServlet</url-pattern>
    </servlet-mapping>


 <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.brba.servlets.RegisterservletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterservletAdmin</url-pattern>
  </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>